.main_content {
    background: #f8f9fa;
}

.dashboard_part {
    padding: 20px;
}

.main_content_iner {
    padding: 30px;
    background: #fff;
    border-radius: 8px;
}



.profile_picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile_info {
    margin-left: 20px;
    flex: 1;
}

.profile_info .row > .col-md-6 {
    padding-bottom: 15px;
}

.profile_details h3, .bank_info h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
}

.QA_section {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.me-2 {
    margin-right: .5rem;
}

.login-form {
  background-color: #ffffff;
  padding: 30px;
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.login-form .login-title {
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.login-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: 500;
  text-transform: capitalize;
}

.login-form input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #ebebeb;
  border-radius: 0;
  line-height: 23px;
  padding: 10px 20px;
  font-size: 14px;
  color: #888888;
  margin-bottom: 15px;
}

.login-form input[type="checkbox"] {
  width: auto;
}

.login-form .check-box {
  float: left;
  margin-right: 70px;
}

.login-form .check-box:last-child {
  margin-right: 0;
}

.login-form .check-box input[type="checkbox"] {
  display: none;
}

.login-form .check-box input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  margin: 0;
}

.login-form .check-box input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid #ebebeb;
  content: "";
}

.login-form .check-box input[type="checkbox"] + label:after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  opacity: 0;
  width: 20px;
  text-align: center;
}

.login-form .check-box input[type="checkbox"]:checked + label:before {
  border: 2px solid #888888;
}

.login-form .check-box input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

@media (max-width: 767px) {
  .forgotton-password_info {
    padding-top: 15px;
  }
}