.main_content {
    padding-bottom: 0px;
}

.bg-warn {
    background-color: #ffc107;
}

.bg-error {
    background-color: #bb2d3b;
}

.account-verified-text-div {
    padding: 4px;
    background: #E8F9EF;
    border-radius: 2px;
    text-align: center;
}

.account-inverified-text-div {
    padding: 4px;
    background: #F9E8E8;
    border-radius: 2px;
    text-align: center;
}

.content p {
    font-size: 16px;
    font-weight: 500;
    color: #696969;
    margin-bottom: 0;
}

.content h3 {
    font-size: 30px;
    font-weight: 600;
    color: #1f2230;
    margin-bottom: 15px;
}

.account-verified-text-pc {
    color: #0C823B !important;
}

.account-inverified-text-pc {
    color: red !important;
}


#img_IdCardPhoto1CompanySelect, #img_IdCardPhoto2CompanySelect {
    display: none;
}

.buttonEditImgCMND1, .buttonEditImgCMND2 {
    display: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    /* left: 50px; */
    top: -111px;
    /* margin-top: auto; */
    margin: auto;
    background: rgba(18, 18, 18, 0.7);
    border-radius: 2px;
    /* padding: 13px 13px 13px 13px; */
    padding: 4px;
}

.upload-CMND-text {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #404040;
}