.pagination-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }